body{
    margin: 0;
    padding: 0;
    border: 0;
}
.header{
    width: 1950px;
    height: 156px;
    background-color: #f6f6f1;
}
.header-top-nav{
    height: 30px;
    background-color: #545652;
}
.header-top-nav-right {
    float: right;
    padding-right: 30px;
}

.header-top-nav-right ul li{
    float: left;
    list-style-type: none;
    padding-right: 30px;
    margin-top: -12px;
    color: white;
}
.header-top-nav-list ul li{
    float: left;
    list-style-type: none;
    padding: 4px 13px;
    color: white;
}
.header-top-nav-list{
    margin-left: -35px;
}
.header-middle-logo {
    position: absolute;
    top:59px;
    left: 400px;
}
.header-middle-logo  img{
    width: 128px;
    height: 36px;
}
.header-middle-search{
    position: absolute;
    top: 57px;
    left: 575px;
}
.header-middle-search input{
    width: 515px;
    height: 35px;
    border-radius: 6px;
    display: inline;
    border-top: white;
    border-left: white;
    border-bottom: white;
    border-right: white;
}
.header-middle-button button{
    width: 35px;
    height: 35px;
    position: absolute;
    top: -0.8px;
    left: 520px;
    border-top: white;
    border-left: white;
    border-bottom: white;
    border-right: white;
}
.header-middle-button button img{
    margin-left: -7px;
    margin-top: -5px;
    width: 35px;
    height: 40px;
}
.header-middle-henxian div{
    width: 1950px;
    height: 25px;
    /*background-color: #FFB6C1;*/
    position: absolute;
    top: 105px;
    border-color: white;
    border-bottom: 1px solid #e9e9e2;
    float: left;
}
.header-bottom-menu{
    position: absolute;
    top: 125px;
    left: 362px;
}
.header-bottom-menu ul li {
    float: left;
    list-style-type: none;
    padding-right: 16px;
    font-family: 宋体;
    font-weight: bolder;
    color:rgb(92, 68, 47);
}
.header-middle-right{
    float: right;
    padding-right: 400px;
    padding-top: 23px;
}
/*轮播图banner*/
.middle-banner{
    padding-top: 25px;
    pad-bottom: 25px;
    padding-left: 400px;
}
.middle-banner{
    width: 1143px;
    height: 110px;
}
/*-----------------------------------------*/
/*content区域*/
.content{
    width: 1144px;
    height: 780px;
    background-color: #07cbc9;
    margin-left: 400px;
    margin-top: 25px;
}
.content .content1-left{
    width: 742px;
    height: 780px;
    background-color: white;
    float: left;
}
.content .content1-right {
    width: 330px;
    height: 780px;
    background-color: #FFB6C1;
    float: right;
}
.content1-left-xinshu div:nth-child(1){
    font-family: 宋体;
    font-size: 18px;
    font-weight: bolder;
    display: inline;
    float: left;
}
.content1-left-xinshu div:nth-child(2){
    float: left;
    padding-left: 17px;
    font-size: 12px;
    padding-top: 3px;
    color: #33a4d6;
}
.content1-left-book .clear{
    clear: both;
}
.content1-left-book ul{
    margin-left: -40px;
}
.content1-left-book ul li{
    list-style-type: none;
    float: left;
    padding-right: 30px;
}
.content1-left-book ul li:nth-last-child(1){
   padding-right: 0;
    margin-left: 6px;
}
.ul2 li{
    margin-top: 20px;
}
.content1-left-book ul li img{
    width: 123px;
    height: 187px;
}
.content1-left-book ul  li img+div{
    color:  #33a4d6;
}
/*豆瓣日历*/
.content1-left-rili{
    margin-left: -8px;

}
.content1-left-rili img{
    width: 750px;
    height: 135px;
    margin-top: 82px;
}